.coin {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.penny {
  width: 100px;
  height: 100px;
  background-color: chocolate;
}

.nickel {
  width: 120px;
  height: 120px;
  background-color: silver;
}

.dime {
  width: 90px;
  height: 90px;
  background-color: silver;
}

.quarter {
  width: 150px;
  height: 150px;
  background-color: silver;
}
